body{
    font-family: fantasy
}
.header{
    background-color: rgb(189, 228, 243);
    height: 90px;
}
a{
    list-style: none;
    float: left;
    padding: 25px 40px;
    font-size: 25px;
}
.header-logo{
    float: left;
    padding: 20px 70px 20px 40px;
}
.header-logo1{
    font-size: 17px;
}
.header-logo2{
    padding-left: 30px;
    font-size: 22px;
}
.main{
    height: 600px;

}
.footer{
    background-color: rgb(248, 172, 185);
    height: 270px;
}