* {
    margin: 0;
    padding: 0;
}

body{
    font-family: fantasy
}
.header{
    background-color: rgb(189, 228, 243);
    height: 90px;
}
.header-list a{
    list-style: none;
    float: left;
    padding: 25px 30px;
    font-size: 25px;
    transition:all 1s;
}
.header-list a:hover{
    background-color: brown;
}
.header-logo{
    float: left;
    padding: 10px 50px 20px 40px;
}
.header-logo1{
    font-size: 17px;
}
.header-logo2{
    padding-left: 30px;
    font-size: 22px;
}
.main{
    height: 600px;
}
.main-charm h{
    padding-left: 20px;
}
.main-charm h2{
    font-size: 20px;
}
.main h3{
    font-size: 20px;
}
.main h4{
    font-size: 20px;
}
.main-charm h3{
    font-size: 20px;
}
.main-charm h4{
    font-size: 20px;
}
.main-charm h5{
    font-size: 20px;
}
.main-charm h6{
    font-size: 20px;
}
.main-charm h7{
    font-size: 20px;
}
.main-charm h8{
    font-size: 20px;
}
.main-charm h9{
    font-size: 20px;
}
.main-charm h10{
    font-size: 20px;
}
.main-charm h11{
    font-size: 20px;
}
.footer{
    background-color: rgb(248, 172, 185);
    height: 270px;
}
.footer-logo{
    float: left;
    padding-top: 20px;
}
.footer-logo1{
    font-size: 17px;
}
.footer-logo2{
    font-size: 22px;
    padding-left: 20px;
}
.footer-list{
    float: right;
}
.footer-list li{
    font-size: 20px;
}
