<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <title>オンスタ</title>

    <link rel="stylesheet" href="stylesheet.css">

</head>

<body>
<div class="header">
    <div class="header-logo">
        <div class="header-logo1">オンライン家庭教師の</div>
        <div class="header-logo2">オンスタ</div>
    </div>
    <div class="header-list">
        <ul>
            <a href="index.html">ホーム</a>
            <a href="about.html">オンライン家庭教師とは？？</a>
            <a href="charm.html">オンスタの魅力</a>
            <a href="list.html">講師一覧</a>
            <a href="price.html">お申込み・お問い合わせはこちら</a>
        </ul>
    </div>

</div>
<div class="main">

</div>
<div class="footer">
  <div class="footer-logo">
    <div class="footer-logo1">オンライン家庭教師の</div>
    <div class="footer-logo2">オンスタ</div>
  </div>
  <div class="footer-list">
     <ul>
    　<li>会社概要</li>
      <li>お問い合わせ</li>
     </ul>
  </div>
　　　　
</div>
</body>
</html>
